{% load static %}
<footer class="footer">
    <br>
    <br>
    <div class="enamad-container" style="width: 100%; text-align: center">
        <a referrerpolicy='origin' target='_blank'
           href='https://trustseal.enamad.ir/?id=569302&Code=PO5yatdRjDaGgi1xv4AN4XKENjJAUT2M'>
            <img src="{% static 'icons/enamad.png' %}" alt="" style="width: 15rem; height: 15rem; background-color: #fff; border-radius: 0.5rem">
{#            <img referrerpolicy='origin'#}
{#                 src='https://trustseal.enamad.ir/logo.aspx?id=569302&Code=PO5yatdRjDaGgi1xv4AN4XKENjJAUT2M' alt=''#}
{#                 style='cursor:pointer' code='PO5yatdRjDaGgi1xv4AN4XKENjJAUT2M'>#}
        </a>
    </div>
    <br>
    <br>
</footer>