{% load static %}
<header id="header" class="header">
    <div class="background">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
    <button id="side-menu-btn">&#9776;</button>
    <div id="side-menu-overlay">
        <div class="side-menu" id="side-menu">
            <button id="side-menu-close-btn">&times;</button>
            <ul>
                <li class="logo-container">
                    <a href="{% url 'home' %}">
                        <img class="logo" src="{% static 'icons/logo.png' %}" alt="">
                    </a>
                </li>
                <li>
                    <h1 style="font-size: 2rem">ارائه دهنده محصولات دیجیتال</h1>
                </li>
                <li><a href="{% url 'product_list' %}">محصولات</a></li>
                <li><a href="{% url 'about-us' %}">درباره ما</a></li>
            </ul>
        </div>
        <div class="out-of-side-menu"></div>
    </div>
    <nav class="nav">
        <ul>
            <li class="logo-container">
                <h1>
                    <a href="{% url 'home' %}">
                        <img class="logo" src="{% static 'icons/logo.png' %}" alt="">
                    </a></h1>
            </li>
            <li>
                <h1 style="font-size: 2rem">ارائه دهنده محصولات دیجیتال</h1>
            </li>
            <li><a href="{% url 'product_list' %}">محصولات</a></li>
            <li><a href="{% url 'about-us' %}">درباره ما</a></li>
        </ul>
    </nav>
    <form class="search" action=".">
        <div class="dropdown">
            <input id="search-input" class="search-input" type="text" placeholder="جستجو در توولت" value=""
                   aria-autocomplete="both" aria-haspopup="false" autocapitalize="off" autocomplete="off"
                   autocorrect="off" role="combobox" spellcheck="false">
            <div class="dropdown-content">
                <div class="loader"></div>
            </div>
        </div>
        <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path d="m0 0h24v24h-24z" fill="#aaa" opacity="0"/>
            <path
                    d="m20.71 19.29-3.4-3.39a7.92 7.92 0 0 0 1.69-4.9 8 8 0 1 0 -8 8 7.92 7.92 0 0 0 4.9-1.69l3.39 3.4a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42zm-15.71-8.29a6 6 0 1 1 6 6 6 6 0 0 1 -6-6z"/>
        </svg>
    </form>
    {% if request.user.is_authenticated %}
        <div class="user-dropdown-container">
            <button class="user-container" onclick="handleUserContainerDropdown()">
                <svg fill="none" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                    <g stroke="#2a353d" stroke-width="1.1">
                        <path
                                d="m6.57757 15.4816c-1.41477.8424-5.12421 2.5625-2.86491 4.715 1.10365 1.0514 2.33283 1.8034 3.87821 1.8034h8.81823c1.5454 0 2.7746-.752 3.8782-1.8034 2.2593-2.1525-1.4501-3.8726-2.8649-4.715-3.3176-1.9755-7.52721-1.9755-10.84483 0z"
                                stroke-linecap="round" stroke-linejoin="round"/>
                        <path
                                d="m16.5 6.5c0 2.48528-2.0147 4.5-4.5 4.5-2.48528 0-4.5-2.01472-4.5-4.5s2.01472-4.5 4.5-4.5c2.4853 0 4.5 2.01472 4.5 4.5z"/>
                    </g>
                </svg>
                <span>حساب کاربری</span>
                <svg class="arrow" fill="none" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path d="m6 9 5.2929 5.2929c.3333.3333.5.5.7071.5s.3738-.1667.7071-.5l5.2929-5.2929"
                          stroke="#2a353d" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"/>
                </svg>
            </button>
            <div class="dropdown-content">
                <a class="item" href="{% url 'user_panel' %}">
                    <svg fill="none" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                        <g stroke="#2a353d" stroke-width="1.5">
                            <rect height="10" rx="2" width="8" x="2" y="2"/>
                            <rect height="6" rx="2" width="8" x="2" y="16"/>
                            <rect height="10" rx="2" width="8" x="14" y="12"/>
                            <rect height="6" rx="2" width="8" x="14" y="2"/>
                        </g>
                    </svg>
                    <span>داشبورد</span>
                </a>
                <a class="item" href="{% url 'user_panel_buys' %}">
                    <svg fill="none" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                        <g stroke="#2a353d" stroke-width="1.5">
                            <circle cx="17" cy="18" r="2"/>
                            <circle cx="7" cy="18" r="2"/>
                            <g stroke-linecap="round" stroke-linejoin="round">
                                <path
                                        d="m5 17.9724c-1.09672-.0546-1.7809-.2178-2.26777-.7046-.48687-.4869-.65001-1.1711-.70468-2.2678m6.97245 3h6m4-.0276c1.0967-.0546 1.7809-.2178 2.2678-.7046.7322-.7323.7322-1.9108.7322-4.2678v-2h-4.7c-.7445 0-1.1168 0-1.418-.0979-.6089-.1978-1.0863-.6752-1.2841-1.28407-.0979-.30126-.0979-.67352-.0979-1.41803 0-1.11677 0-1.67515-.1468-2.12705-.2968-.91331-1.0128-1.62937-1.9261-1.92612-.4519-.14683-1.0103-.14683-2.1271-.14683h-8.3"/>
                                <path d="m2 8h6"/>
                                <path d="m2 11h4"/>
                                <path
                                        d="m14.5 6h1.8212c1.4554 0 2.183 0 2.7752.35371s.9372.9944 1.6272 2.27579l1.2764 2.3705"/>
                            </g>
                        </g>
                    </svg>
                    <span>لیست سفارشات</span>
                </a>
                <a class="item" href="{% url 'user_panel_likes' %}">
                    <svg fill="none" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                        <path
                                d="m19.4626 3.99415c-2.6817-1.64492-5.0222-.98204-6.4282.07386-.5766.43295-.8648.64942-1.0344.64942s-.4578-.21647-1.0344-.64942c-1.40598-1.0559-3.74651-1.71878-6.42816-.07386-3.51937 2.15879-4.315719 9.28075 3.80209 15.28925 1.54619 1.1444 2.31927 1.7166 3.66047 1.7166s2.1143-.5722 3.6605-1.7166c8.1178-6.0085 7.3214-13.13046 3.8021-15.28925z"
                                stroke="#2a353d" stroke-linecap="round" stroke-width="1.5"/>
                    </svg>
                    <span>علاقه مندی ها</span>
                </a>
                <a class="item" href="{% url 'logout' %}">
                    <svg height="512" viewBox="0 0 512 512" width="512" xmlns="http://www.w3.org/2000/svg">
                        <g fill="none" stroke="#ff0033" stroke-linecap="round" stroke-linejoin="round"
                           stroke-width="32">
                            <path
                                    d="m304 336v40a40 40 0 0 1 -40 40h-160a40 40 0 0 1 -40-40v-240a40 40 0 0 1 40-40h152c22.09 0 48 17.91 48 40v40"/>
                            <path d="m368 336 80-80-80-80"/>
                            <path d="m176 256h256"/>
                        </g>
                    </svg>
                    <span style="color: #ff0033;">خروج</span>
                </a>
            </div>
        </div>
        <script>
            const userDropdownContent = document.querySelector('.header .user-dropdown-container')
            userDropdownContent.addEventListener('mouseleave', () => {
                const UserDropdownContainer = document.querySelector('.header .user-dropdown-container')
                UserDropdownContainer.classList.remove('active')
            })

            function handleUserContainerDropdown() {
                const UserDropdownContainer = document.querySelector('.header .user-dropdown-container')
                UserDropdownContainer.classList.toggle('active')
            }
        </script>
    {% else %}
        <a href="{% url 'login' %}" class="login-container">
            <span>ورود | ثبت نام</span>
            <svg class="login-svg" fill="none" height="24" viewBox="0 0 24 24" width="24"
                 xmlns="http://www.w3.org/2000/svg">
                <path
                        d="m11 16-4-4m0 0 4-4m-4 4h14m-5 4v1c0 1.6569-1.3431 3-3 3h-7c-1.65685 0-3-1.3431-3-3v-10c0-1.65685 1.34315-3 3-3h7c1.6569 0 3 1.34315 3 3v1"
                        stroke="#1e1e1e" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"/>
            </svg>
        </a>
    {% endif %}
    <a href="{% url 'basket' %}" class="basket">
        <svg style="transform: rotate(180deg); -webkit-transform: scaleX(-1); transform: scaleX(-1);"
             fill="none" height="28" viewBox="0 0 24 24" width="28" xmlns="http://www.w3.org/2000/svg">
            <g stroke="#2a353d" stroke-width="1.1">
                <g stroke-linecap="round">
                    <path
                            d="m8 16h7.2632c4.4876 0 5.1701-2.8192 5.9978-6.93092.2388-1.18597.3582-1.77895.0711-2.17401-.2871-.39507-.8374-.39507-1.938-.39507h-13.3941"/>
                    <path d="m8 16-2.62127-12.48507c-.22258-.89034-1.02255-1.51493-1.94028-1.51493h-.93845"/>
                    <path
                            d="m8.88 16h-.41143c-1.36335 0-2.46857 1.1513-2.46857 2.5714 0 .2367.1842.4286.41143.4286h11.08857"
                            stroke-linejoin="round"/>
                </g>
                <circle cx="10.5" cy="20.5" r="1.5"/>
                <circle cx="17.5" cy="20.5" r="1.5"/>
            </g>
        </svg>
        {% if request.COOKIES.basket_quantities|default:0|add:0 > 0 %}
            <span class="count">{{ request.COOKIES.basket_quantities|default:0 }}</span>
        {% else %}
            <span class="count"></span>
        {% endif %}
    </a>
</header>
<script>
    function getCookie(name) {
        const value = `; ${document.cookie}`;
        const parts = value.split(`; ${name}=`);
        if (parts.length === 2) return parts.pop().split(';').shift();
    }

    const basket_id = getCookie('basket_id')
    const basket_quantities = getCookie('basket_quantities')
</script>