{% extends 'base/base.html' %}
{% load static %}
{% block title %}درباره ما{% endblock %}
{% block content %}
    <div class="not-found-page">
        <h1> درباره ما</h1>
        <p style="font-size: 2rem; display: inline-block">
            به وب‌سایت ما خوش آمدید! ما با افتخار بستری را فراهم کرده‌ایم که علاقه‌مندان به دنیای دیجیتال و یادگیری
            مهارت‌های جدید، بتوانند با دسترسی به محصولات دیجیتال و پکیج‌های آموزشی متنوع، در مسیر رشد و توسعه شخصی خود
            قدم بردارند.

            هدف اصلی ما ارائه‌ی محتوایی با کیفیت بالا و کاربردی است که بتواند نیازهای آموزشی شما را در حوزه‌های مختلف از
            جمله برنامه‌نویسی، طراحی، کسب‌وکار آنلاین، مدیریت زمان، و بسیاری دیگر برآورده کند. تمامی محصولات و پکیج‌های
            ما با دقت و به کمک کارشناسان حرفه‌ای تهیه شده‌اند تا تجربه‌ای ارزشمند را برای شما به ارمغان بیاورند.

            ما معتقدیم که یادگیری هیچ‌گاه متوقف نمی‌شود، و با ارائه‌ی بهترین منابع آموزشی، به شما کمک می‌کنیم تا
            مهارت‌های خود را تقویت کرده و به اهداف حرفه‌ای و شخصی خود دست یابید.

            برای ما، اعتماد شما مهم‌ترین سرمایه است. از این رو، با ارائه‌ی خدمات پشتیبانی قوی، پاسخگویی به سوالات و
            نیازهای شما، و به‌روزرسانی مداوم محتواها، تلاش می‌کنیم تا تجربه‌ای بی‌نقص برای شما رقم بزنیم.
        </p>
    </div>
{% endblock %}