{% extends 'base/base.html' %}
{% block content %}
    <div class="home-container-page">
        <section class="home-story-section">
            {% include 'partial/story_categories.html' %}
        </section>
        <section class="splide slider-section" aria-label="Splide Basic HTML Example">
            {% include 'partial/home_slider.html' %}
        </section>
        <section class="badge-section">
            <div>
                <svg viewBox="0 0 640 512" xmlns="http://www.w3.org/2000/svg">
                    <path
                            d="m624 352h-16v-108.1c0-12.7-5.1-24.9-14.1-33.9l-99.9-99.9c-9-9-21.2-14.1-33.9-14.1h-44.1v-48c0-26.5-21.5-48-48-48h-256c-26.5 0-48 21.5-48 48v48h-56c-4.4 0-8 3.6-8 8v16c0 4.4 3.6 8 8 8h272c4.4 0 8 3.6 8 8v16c0 4.4-3.6 8-8 8h-240c-4.4 0-8 3.6-8 8v16c0 4.4 3.6 8 8 8h208c4.4 0 8 3.6 8 8v16c0 4.4-3.6 8-8 8h-240c-4.4 0-8 3.6-8 8v16c0 4.4 3.6 8 8 8h208c4.4 0 8 3.6 8 8v16c0 4.4-3.6 8-8 8h-152v128c0 53 43 96 96 96s96-43 96-96h128c0 53 43 96 96 96s96-43 96-96h48c8.8 0 16-7.2 16-16v-32c0-8.8-7.2-16-16-16zm-464 112c-26.5 0-48-21.5-48-48s21.5-48 48-48 48 21.5 48 48-21.5 48-48 48zm320 0c-26.5 0-48-21.5-48-48s21.5-48 48-48 48 21.5 48 48-21.5 48-48 48zm80-208h-144v-112h44.1l99.9 99.9z"/>
                </svg>
                <span>ارسال رایگان سفارش بالای پانصد هزار تومان</span>
            </div>
            <div>
                <svg viewBox="0 0 576 512" xmlns="http://www.w3.org/2000/svg">
                    <path
                            d="m288 0c-69.59 0-126 56.41-126 126 0 56.26 82.35 158.8 113.9 196.02 6.39 7.54 17.82 7.54 24.2 0 31.55-37.22 113.9-139.76 113.9-196.02 0-69.59-56.41-126-126-126zm0 168c-23.2 0-42-18.8-42-42s18.8-42 42-42 42 18.8 42 42-18.8 42-42 42zm-267.88 47.95a32.006 32.006 0 0 0 -20.12 29.71v250.32c0 11.32 11.43 19.06 21.94 14.86l138.06-62.84v-233.08c-8.84-15.98-16.07-31.54-21.25-46.42zm267.88 143.72c-14.07 0-27.38-6.18-36.51-16.96-19.66-23.2-40.57-49.62-59.49-76.72v182l192 64v-245.99c-18.92 27.09-39.82 53.52-59.49 76.72-9.13 10.77-22.44 16.95-36.51 16.95zm266.06-198.51-138.06 62.84v288l139.88-55.95a31.996 31.996 0 0 0 20.12-29.71v-250.32c0-11.32-11.43-19.06-21.94-14.86z"/>
                </svg>
                <span>ارسال به سراسر ایران</span>
            </div>
            <div>
                <svg class="warranty-svg" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                    <path
                            d="m50 20c3.79 0 6.79 4.11 10.11 5.53s8.52.63 11 3.31 1.89 7.58 3.31 11.05 5.58 6.32 5.58 10.11-4.11 6.79-5.53 10.11-.63 8.52-3.31 11c-2.53 2.52-7.58 1.89-11 3.31s-6.37 5.58-10.16 5.58-6.79-4.11-10.11-5.53-8.52-.63-11-3.31c-2.52-2.53-1.89-7.58-3.31-11s-5.58-6.37-5.58-10.16 4.11-6.79 5.53-10.11.63-8.52 3.31-11 7.58-1.89 11.05-3.36 6.32-5.53 10.11-5.53zm0 9.47a20.53 20.53 0 1 0 20.53 20.53 20.59 20.59 0 0 0 -20.53-20.53zm9.52 11.44 2 1.9a1.55 1.55 0 0 1 0 1.89l-12.74 14.14a2.55 2.55 0 0 1 -2 .88 2.76 2.76 0 0 1 -2-.88l-6.88-6.84a1.26 1.26 0 0 1 0-1.89l2-1.9a1.37 1.37 0 0 1 2 0l4.87 5 10.75-12.3a1.37 1.37 0 0 1 2 0z"/>
                </svg>
                <span>تضمین کیفیت</span>
            </div>
            <div>
                <svg viewBox="0 0 640 512" xmlns="http://www.w3.org/2000/svg">
                    <path
                            d="m434.7 64h-85.9c-8 0-15.7 3-21.6 8.4l-98.3 90c-.1.1-.2.3-.3.4-16.6 15.6-16.3 40.5-2.1 56 12.7 13.9 39.4 17.6 56.1 2.7.1-.1.3-.1.4-.2l79.9-73.2c6.5-5.9 16.7-5.5 22.6 1 6 6.5 5.5 16.6-1 22.6l-26.1 23.9 145.6 118.2c2.9 2.4 5.5 5 7.9 7.7v-193.5l-54.6-54.6c-5.9-6-14.1-9.4-22.6-9.4zm109.3 64.2v223.9c0 17.7 14.3 32 32 32h64v-255.9zm48 223.9c-8.8 0-16-7.2-16-16s7.2-16 16-16 16 7.2 16 16-7.2 16-16 16zm-592 31.9h64c17.7 0 32-14.3 32-32v-223.8h-96zm48-63.9c8.8 0 16 7.2 16 16s-7.2 16-16 16-16-7.2-16-16c0-8.9 7.2-16 16-16zm435.9 18.6-149.3-121.2-30 27.5c-29.7 27.1-75.2 24.5-101.7-4.4-26.9-29.4-24.8-74.9 4.4-101.7l81.8-74.9h-83.8c-8.5 0-16.6 3.4-22.6 9.4l-54.7 54.6v223.9h18.3l90.5 81.9c27.4 22.3 67.7 18.1 90-9.3l.2-.2 17.9 15.5c15.9 13 39.4 10.5 52.3-5.4l31.4-38.6 5.4 4.4c13.7 11.1 33.9 9.1 45-4.7l9.5-11.7c11.2-13.8 9.1-33.9-4.6-45.1z"/>
                </svg>
                <span>همکاری در فروش</span>
            </div>
            <div>
                <svg viewBox="0 0 17 16" xmlns="http://www.w3.org/2000/svg">
                    <g fill-rule="evenodd" transform="translate(1)">
                        <path
                                d="m1.539 8.001c.828 0 1.379-.551 1.379-1.379l-.004-.435s-.205-1.233 1.44-1.233l6.661.046v1.759c.323.322.847.322 1.17 0l2.573-2.572c.322-.324.322-.848 0-1.17l-2.573-2.725c-.323-.322-.847-.322-1.17 0v1.845c-.161-.047-6.453-.074-6.453-.074-3.711 0-4.523 2.429-4.523 3.407v1.031c0 .828.672 1.5 1.5 1.5z"/>
                        <path
                                d="m13.5 8.042c-.828 0-1.5.584-1.5 1.412l.002.957c-.045.357-.645.59-1.525.59h-6.539l-.002-1.559c-.322-.322-.846-.322-1.17 0l-2.572 2.572c-.322.324-.322.848 0 1.17l2.572 2.572c.324.324.848.324 1.17 0l.002-1.851h6.539c3.711 0 4.523-2.442 4.523-3.421v-1.031c0-.827-.672-1.411-1.5-1.411z"/>
                    </g>
                </svg>
                <span>ضمانت تعویض</span>
            </div>
        </section>
        <section class="home-newest-section">
            {% include 'partial/home_recent_products.html' %}
        </section>
        <section class="home-offer-section">
            {% include 'partial/home_offers.html' %}
        </section>
        <div class="show-all-link">
            <a href="{% url 'product_list' %}">مشاهده تمام محصولات</a>
        </div>
        {% include 'partial/home_collections.html' %}
        <div class="story-overlay">
            <div class="category-container">
                <img src="" alt="">
                <p class="title"></p>
            </div>
            <svg id="story-close-btn" enable-background="new 0 0 1792 1792" viewBox="0 0 1792 1792"
                 xmlns="http://www.w3.org/2000/svg">
                <path
                        d="m1082.2 896.6 410.2-410c51.5-51.5 51.5-134.6 0-186.1s-134.6-51.5-186.1 0l-410.2 410-410.1-410.1c-51.5-51.5-134.6-51.5-186.1 0s-51.5 134.6 0 186.1l410.2 410-410.2 410c-51.5 51.5-51.5 134.6 0 186.1 51.6 51.5 135 51.5 186.1 0l410.2-410 410.2 410c51.5 51.5 134.6 51.5 186.1 0 51.1-51.5 51.1-134.6-.5-186.2z"/>
            </svg>

            <div class="splide story-slider story-container" aria-label="Splide Basic HTML Example">
                <div class="splide__track">
                    <ul class="splide__list">
                    </ul>
                </div>
                <div class="my-carousel-progress">
                    <div class="my-carousel-progress-bar"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block pageBottom %}
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const splide = new Splide('.splide.slider-section', {
                direction: 'rtl',
                type: 'loop',
                autoplay: true,
                intervel: 5000,
                rewind: true,
                perPage: 1,
                arrows: false,
                pauseOnHover: false,
                pauseOnFocus: false,
            });
            splide.mount();
        });
    </script>

    <script>
        async function preRenderStory(category_id) {
            const splideList = document.querySelector('.story-overlay .splide__list')
            splideList.innerHTML = null
            const categoryContainer = document.querySelector(".story-overlay .category-container")
            categoryContainer.innerHTML = null
            return await getReq(`manager/storyCategory/${category_id}/api/`, 2).then(response => {
                const categoryTitleElement = document.createElement('p')
                categoryTitleElement.setAttribute('class', 'title')
                categoryTitleElement.innerText = response.title
                const categoryImageElement = document.createElement('img')
                categoryImageElement.setAttribute('src', response.image)
                categoryImageElement.setAttribute('alt', '')
                categoryContainer.appendChild(categoryImageElement)
                categoryContainer.appendChild(categoryTitleElement)
                const stories = response.stories
                stories.forEach(story => {
                    const storyElement = document.createElement('a')
                    if (story?.product_id) {
                        storyElement.setAttribute('href', window.location.origin + '/product/' + story.product_id + '/')
                    } else storyElement.setAttribute('href', '#')
                    storyElement.setAttribute('class', 'splide__slide item')
                    storyElement.setAttribute('data-splide-interval', '5000')
                    const storyImage = document.createElement('img')
                    storyImage.setAttribute('src', story.image)
                    storyImage.setAttribute('alt', '')
                    storyElement.appendChild(storyImage)
                    splideList.appendChild(storyElement)
                })
            }).catch(err => {
                throw err
            })
        }

        function renderStoryContainer(category) {
            const storyContainer = document.querySelector(".story-overlay")
            const bar = storyContainer.querySelector('.my-carousel-progress-bar');
            storyContainer.style.display = 'flex';
            const storyContainerLocked = document.querySelector(".story-overlay.locked")
            if (storyContainerLocked) {
                return null
            }
            storyContainer.classList.add('locked')
            preRenderStory(category).then(() => {
                var splide = new Splide('.story-slider', {
                    direction: 'rtl',
                    autoplay: true,
                    intervel: 5000,
                    perPage: 1,
                    arrows: false,
                    lazyLoad: 'nearby',
                    focus: 'center',
                    pauseOnHover: true,
                    pauseOnFocus: false,
                    updateOnMove: true,
                    trimSpace: false,
                    autoWidth: true,
                    mediaQuery: 'max',
                    breakpoints: {
                        940: {
                            perPage: 1,
                        },
                    }
                });
                splide.on('autoplay:playing', (rate) => {
                    bar.style.width = `${rate * 100}%`;
                });
                splide.mount();
                const storyCloseBtn = document.getElementById('story-close-btn');
                storyCloseBtn.onclick = () => {
                    storyContainer.style.display = 'none';
                    splide.destroy()
                    bar.style.width = '0';
                }
            }).finally(() => {
                storyContainer.classList.remove('locked')
            })
        }

        document.addEventListener("DOMContentLoaded", () => {
            const storyCategories = document.querySelectorAll(".home-story-section .item")
            storyCategories.forEach(storyCategory => {
                const category = storyCategory.getAttribute("data-storyCategory")
                storyCategory.onclick = () => {
                    renderStoryContainer(category)
                };
            });
        })
    </script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const newestContainer = document.getElementById('newest-scroll-container');
            const anchors = newestContainer.querySelectorAll("a")
            for (const anchor of anchors) {
                anchor.addEventListener('click', (e) => e.preventDefault())
            }
            let pos = {top: 0, left: newestContainer.scrollWidth, x: 0, y: 0};
            const mouseDownHandler = function (e) {
                newestContainer.style.userSelect = 'none';

                pos = {
                    left: newestContainer.scrollLeft,
                    top: newestContainer.scrollTop,
                    // Get the current mouse position
                    x: e.clientX,
                    y: e.clientY,
                };

                document.addEventListener('mousemove', mouseMoveHandler);
                document.addEventListener('mouseup', mouseUpHandler);
            };

            const mouseMoveHandler = function (e) {
                const dx = e.clientX - pos.x;
                const dy = e.clientY - pos.y;
                newestContainer.scrollTop = pos.top - dy;
                newestContainer.scrollLeft = pos.left - dx;
            };

            const mouseUpHandler = function (e) {
                if (e.clientX - pos.x === 0) {
                    for (const anchor of anchors) {
                        anchor.addEventListener('click', (event) => {
                            if (event.target.parentNode.attributes.href) {
                                window.location.href = event.target.parentNode.attributes.href.value
                            } else {
                                window.location.href = event.target.attributes.href.value
                            }
                        })
                    }
                }
                document.removeEventListener('mousemove', mouseMoveHandler);
                document.removeEventListener('mouseup', mouseUpHandler);
            };
            newestContainer.addEventListener('mousedown', mouseDownHandler);
            const anchorElements = document.querySelectorAll('a')
            for (const anchor of anchorElements) {
                anchor.addEventListener('dragstart', (e) => e.preventDefault());
            }
            const handleNewestScrollRight = (e) => {
                const current = e.target.parentNode.parentNode.parentNode.querySelector('#newest-scroll-container')
                current.scrollLeft += 500
            }
            const handleNewestScrollLeft = (e) => {
                const current = e.target.parentNode.parentNode.parentNode.querySelector('#newest-scroll-container')
                current.scrollLeft -= 500
            }
            document.querySelector('.newest-container button.right .arrow').addEventListener('click', handleNewestScrollRight)
            document.querySelector('.newest-container button.left .arrow').addEventListener('click', handleNewestScrollLeft)
        });
    </script>
{% endblock %}