.slider-section .splide__arrow {
    display: none !important;
}

.slider-section button.splide__pagination__page {
    background-color: #fe4589 !important;
}

.slider-section .splide__pagination .is-active {
    background-color: #ff005c !important;

}

.home-story-section {
    /* height: 6rem; */
    /* background-color: rgb(249, 249, 249); */
    width: 100%;
    margin: 0 0 1rem 0;
    padding: 1rem;
    border-radius: 1rem;
    /* border: 0.1rem solid rgb(240, 240, 240); */
    /* box-shadow: inset 0 0 2rem #00000017; */

    /* background: radial-gradient(ellipse at 50% 50%, rgba(255, 232, 232, 1) 0%, rgba(255, 255, 255, 1) 100%); */

}

.home-story-section ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 3rem;
}

.home-story-section .item {
    /* background-color: rgb(135, 135, 135); */
    width: 9rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    cursor: pointer;
}

.home-story-section .title {
    font-weight: normal;
    font-size: 1.4rem;
    color: #475481;
}

.home-story-section .item:hover .title {
    color: #ff005c;
}

.home-story-section img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    padding: 0.2rem;
    background-color: #ffffff;
    background: linear-gradient(white, white) padding-box,
    linear-gradient(-45deg, #ff0000, #ff005c, #f600a3, #bb43de, #406dff) border-box;
    border: 0.3rem solid transparent;
}

.scroll-container::-webkit-scrollbar {
    display: none !important;
    width: 0 !important;
}

.slider-section {
    /* margin-top: 0.5rem; */
    width: 100%;
}


.slider-section img {
    width: 100%;
    height: 34rem;
    border-radius: 0.5rem;
    object-fit: cover;
}

.badge-section {
    /* height: 12rem; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: 1rem;
    font-size: 1.2rem;
    padding: 2rem 1rem;
}

.badge-section > div {
    /* background-color: rgb(208, 208, 208); */
    border-radius: 2rem;
    width: 12rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.badge-section span {
    /* color: #6576e7; */
    color: #d6245c;
    text-align: center;
}

.badge-section svg {
    width: 28%;
    /* fill: #4f5fc7; */
    fill: #d6245c;

    height: 3rem;
}

.badge-section .warranty-svg {
    transform: scale(1.5);
}


.home-newest-section,
.home-off-section {
    font-size: 1.4rem;
    margin-bottom: 12rem;
}

.newest-container,
.off-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    /* border-top: 0.3rem solid #6576e7; */
    border-top: 0.3rem solid #d6245c;
    /* border-bottom: 0.3rem solid #6576e7; */
    /* border-top: 0.3rem solid #d6245c; */
    background-color: #fff;
    padding: 1rem 0.5rem 2rem 0.5rem;

}

.newest-container button,
.off-container button {
    width: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    outline: none;
}

.newest-container .arrow,
.off-container .arrow {
    width: 4rem !important;
    height: 4rem !important;
    cursor: pointer;
}

.scroll-container {
    -ms-overflow-style: none !important;
    scrollbar-width: none !important;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-y: hidden;
    overflow-x: auto;
    justify-content: right;
    align-items: center;
    gap: 3rem;
    scroll-snap-type: x proximity;
    scroll-behavior: smooth;
    padding-top: 4rem;
}

.scroll-container .item {
    width: 20rem;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    scroll-snap-align: center;
    position: relative;
    /*user-select: none;*/
    /*-moz-user-select: none;*/
    /*-ms-user-select: none;*/
    /*-webkit-user-select: none;*/
}

/*.scroll-container .item > * {*/
/*    -moz-user-select: none;*/
/*    -ms-user-select: none;*/
/*    -webkit-user-select: none;*/
/*    -webkit-user-drag: none;*/
/*}*/

.scroll-container .item span.discount {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: -1rem;
    top: -0.5rem;
    border-radius: 1.5rem;
    background-color: #ff005c;
    min-width: 4rem;
    height: 3rem;
    text-align: center;
    line-height: 2rem;
    font-size: 1.6rem;
    color: #fff;
    gap: 0.2rem;
    padding: 0 0.2rem;
}

.scroll-container .item span.discount::before {
    content: " % ";
}

.scroll-container img {
    width: 100%;
    object-fit: cover;
    border-radius: 1rem;
    aspect-ratio: 1/1;
    background-color: #e9e9e9;
    transition-duration: 250ms;
}

.scroll-container img:hover {
    background-color: #d2d2d2;
}

.newest-title-container {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    padding: 0.5rem 7rem;
    color: #ffffff !important;
    background-color: #526090;
    border-radius: 3rem 0 0 0;
    background: linear-gradient(90deg, rgba(214, 36, 92, 1) 0%, rgba(255, 82, 191, 1) 100%);
    position: relative;
}

.newest-title {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}


.newest-title h2 {
    color: #fff;
    flex-shrink: 0;
    font-size: 1.8rem;
    font-weight: normal;
    font-family: vazir-medium;
}

.newest-title svg {
    fill: #fff;
    width: 2rem;
    height: 2rem;
}

.scroll-container .currency {
    display: flex;
    gap: 0.7rem;
    flex-direction: row;
    align-self: self-end;
    align-items: center;
}

.scroll-container .currency .main-price {
    font-size: 2rem;
}

.scroll-container .item-detail .title a {
    font-size: 1.4rem !important;
}

.scroll-container .item-detail {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 3rem;
}

.scroll-container .currency svg {
    vertical-align: -0.3rem;
    width: 2rem;
}


.home-offer-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 6rem;
    border-radius: 5rem;
    gap: 4rem;
}

.home-offer-section .offer-title {
    /* width: 90%; */
    padding: 3rem 3rem;
    font-weight: normal;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex-direction: row;
    border: 1rem solid #ff3f856c;
    background-color: #fff1f6;
    /* background: linear-gradient(38deg, #e4ae3b2b 0%, #e43b3b38 42%, #dc35b237 89%, #dc35d62d 100%); */
    /* border-radius: 51% 49% 56% 44% / 62% 48% 52% 38%; */
    border-radius: 3rem;
    position: relative;

}

.home-offer-section .offer-title h3 {
    color: #ff005da5;
    font-family: vazir-bold;
    font-weight: normal;
}

.home-offer-section .offer-title h3::after {
    content: "";
    position: absolute;
    top: 2rem;
    left: -5rem;
    height: 8rem;
    width: 8rem;
    background-color: #ff00002b;
    z-index: -1;
    border-radius: 51% 49% 56% 44% / 62% 48% 52% 38%;

}

.home-offer-section .offer-title h3::before {
    z-index: -1;
    content: "";
    position: absolute;
    top: -6rem;
    right: -4rem;
    height: 12rem;
    width: 12rem;
    background-color: #00a2ff2b;
    border-radius: 46% 54% 40% 60% / 27% 40% 60% 73%;
}


.home-offer-section .offer-title svg {
    fill: none;
    stroke: #ff005da1;
    width: 3rem;
    height: 3rem;
}

.home-offer-section .offer-container {
    padding: 1rem 3rem;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: right;
    width: 100%;
    gap: 0.5rem;
    /*background-color: #ffe0e0;*/
    /*background: linear-gradient(108deg, rgba(255, 224, 224, 1) 0%, rgba(255, 219, 251, 1) 100%);*/
}

.home-offer-section .offer-container .item {
    padding: 1rem 1rem 2rem 1rem;
    border-radius: 1rem;
    flex-shrink: 0;
    width: 24rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    transition-duration: 100ms;
    background-color: #fff;
    position: relative;
}

.home-offer-section .offer-container .item span.discount {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 1.5rem;
    top: 0;
    border-radius: 0 0 0.5rem 0.5rem;
    background-color: #ff005c;
    min-width: 4rem;
    height: 3rem;
    text-align: center;
    line-height: 2rem;
    font-size: 1.6rem;
    color: #fff;
    gap: 0.2rem;
    padding: 0 0.2rem;
    z-index: 3;
}

.home-offer-section .offer-container .item span.discount::before {
    content: " % ";
}

.home-offer-section .offer-container img {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 1/1;
    z-index: 2;
    border-radius: 0.8rem;
}

.home-offer-section .offer-container .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-offer-section .offer-container .image-container::before {
    content: " ";
    width: 70%;
    height: 20rem;
    position: absolute;
    background-color: #efefef;
    border-radius: 49% 39% 33% 51% / 35% 36% 51% 56%;
}

.home-offer-section .item-detail .title {
    font-size: 1.6rem !important;
}

.home-offer-section .item .item-detail {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 3rem;
}

.home-offer-section .item .currency {
    display: flex;
    gap: 0.7rem;
    flex-direction: row;
    align-self: self-end;
    align-items: center;
}

.home-offer-section .item .currency .main-price {
    font-size: 2rem;
}

.home-offer-section .item-detail {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 3rem;
}

.home-offer-section .item .currency svg {
    width: 2rem;
}


.show-all-link {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.show-all-link a {
    font-size: 2rem;
    background-color: #7481af;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.266);
    color: white;
    padding: 1rem 3rem;
    border-radius: 1rem;
    transition-duration: 200ms;

    background: hsla(232, 73%, 65%, 1);

    background: linear-gradient(45deg, #6576e7 0%, hsla(279, 33%, 48%, 1) 100%);

    background: -moz-linear-gradient(45deg, #6576e7 0%, hsla(279, 33%, 48%, 1) 100%);

    background: -webkit-linear-gradient(45deg, #6576e7 0%, hsla(279, 33%, 48%, 1) 100%);

    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#6274E7", endColorstr="#8752A3", GradientType=1);
}

.show-all-link a:hover {
    background-color: #4c5882;

}


.collection {
    margin: 12rem auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 20rem);
    grid-column-gap: 0.5rem;
    grid-row-gap: 0.5rem;
}

.collection > a {
    position: relative;
    overflow: hidden;
}

.collection img {
    filter: grayscale(100%);
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: all 300ms ease-in-out;
    border-radius: 0.2rem;
}

.collection a:hover img {
    filter: none !important;
    transform: scale(1.1);
}

.collection span {
    font-weight: bold;
    font-size: 4rem;
    color: #fff;
    text-shadow: 0 0.5rem 2rem black;
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* .collection > a:nth-child(even){
    border: 0.2rem solid red;
    aspect-ratio: 2/1;
    flex-shrink: 0;
} */
.collection-item {
    width: 100%;
    height: 100%;
}


.collection-item:nth-child(1) {
    grid-area: 1 / 3 / 2 / 4;
}

.collection-item:nth-child(2) {
    grid-area: 1 / 2 / 3 / 3;
}

.collection-item:nth-child(3) {
    grid-area: 1 / 1 / 2 / 2;
}

.collection-item:nth-child(4) {
    grid-area: 2 / 3 / 4 / 4;
}

.collection-item:nth-child(5) {
    grid-area: 3 / 2 / 4 / 3;
}

.collection-item:nth-child(6) {
    grid-area: 2 / 1 / 4 / 2;
}


/*//////////////////////////////////////////////////////////*/
.story-overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    height: 100svh;
    width: 100svw;
    width: 100vw;
    background-color: #000000e4;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 99;
}

.story-overlay .category-container {
    z-index: 100;
    position: fixed;
    top: 4rem;
    right: 3rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
}

.story-overlay .category-container .title {
    font-size: 2rem;
    color: #fff;
}

.story-overlay .category-container img {
    background-color: #eee;
    border-radius: 50%;
    width: 6rem;
    height: 6rem;
    aspect-ratio: 1/1;
    border: 0.2rem solid #ff4545;
    padding: 0.2rem;
    background: linear-gradient(rgb(220, 220, 220), rgb(183, 183, 183)) padding-box,
    linear-gradient(-45deg, #ff0000, #ff005c, #f600a3, #bb43de, #406dff) border-box;
    border-radius: 50%;
    border: 0.3rem solid transparent;
}

.story-overlay .story-container {
    width: 100%;
}

.story-overlay .story-container .item {
    transition-duration: 200ms;
    position: relative;
    height: 50rem;

}

.story-overlay .story-container img {
    width: 100%;
    max-width: 100%;
    height: 100%;
    aspect-ratio: 1/1 !important;
    border-radius: 0.5rem;
    object-fit: cover;
}


.story-overlay .splide__pagination {
    top: -3rem;
    left: 0;
    bottom: unset;
}

.story-container .splide__arrow {
}

.story-overlay .story-container button.splide__pagination__page {
    background-color: #ffffff !important;
    width: 2rem;
    border-radius: 0.1rem;
    height: 0.5rem;
    /* margin: 0; */
}

.story-overlay .story-container .splide__pagination .is-active {
    background-color: #ffffff !important;
    opacity: 1;
    transform: none;
}

.story-overlay #story-close-btn {
    z-index: 100;
    position: fixed;
    top: 5rem;
    fill: #fff;
    left: 3rem;
    cursor: pointer;
    width: 3rem;
    transition-duration: 150ms;
    border-radius: 50%;
    padding: 0.2rem;
}

.story-overlay #story-close-btn:hover {
    transform: rotate(90deg);
    fill: #ff4040 !important;
}

.story-overlay .my-carousel-progress {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.story-overlay .my-carousel-progress-bar {
    background: #ffffff;
    border-radius: 1rem 0 0 1rem;
    height: 0.2rem;
    width: 0;
}

.story-overlay .item.is-active img {
}

.story-overlay .item.is-active {
}

.story-overlay .item:not(.is-active) {
    padding: 6rem;
}

.story-overlay .item:not(.is-active) img {
    filter: brightness(50%);

}


@media only screen and (max-width: 1150px) {
    .newest-title-container {
        border-radius: 3rem 0 0 0;
    }

    .home-story-section {
        margin: 0;
        border-radius: 0;
    }

    .slider-section img {
        border-radius: 0;
    }

}

@media only screen and (max-width: 720px) {
    .home-offer-section .offer-container{
        justify-content: center;
    }
    .home-offer-section .offer-container .item {
        width: 30rem;
    }

    .collection {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: auto;
        padding: 3rem;
    }

    .collection img {
        aspect-ratio: 1/1;
    }

    .slider-section {
        display: none;
    }

    .home-story-section {
        box-shadow: inset 0 0 3rem rgba(0, 0, 0, 0.175);
    }
}
@media only screen and (max-width: 320px){
    .home-offer-section .offer-container .item{
        width: 80%;
    }
}