<div class="login-form step1">
    <label for="number-input">لطفا شماره موبایل خود را وارد کنید</label>
    <input onkeydown="handleNumeric(event)" type="tel" name="phone_number" id="number-input" class="number-input"
           placeholder="09 - - - - - - - - -" maxlength="11" value="{{ phone_number }}">
    <p class="input-alert">شماره موبایل نامعتبر است</p>
    <p class="description">ورود شما به معنای پذیرش قوانین روژی شاپ می باشد</p>
    <button class="submit send-otp-btn" type="button" onclick="sendOTP()">ورود</button>
</div>
<script>
    const input = document.querySelector('input[name=phone_number]')
    const handleNumeric = (e) => {
        if (isNaN(e.key) && e.key !== 'Backspace') {
            e.preventDefault();
        }
    }

</script>